#hiscore {
	background-color: red;
	font-size: 15px;

}

#Donald {
	width: 250px;
	height: 166px;
	align-content: center;
}

#plop {
	background-color: blue;
	color: black;
	align-content: center;
	align-self: center;
}